<div>
    <ng-container *ngFor="let ticket of tickets">
        Ticket #: {{ ticket.id }}<br />
   Issue: {{ ticket.name }}<br />
   Description: {{ ticket.description }}<br />
   Status: {{ ticket.status }}<br />
   Favorite: {{ ticket.favorite }}<br />
   User: {{ ticket.useropened }}<br />
   Assigned to: {{ ticket.userclosed }}<br />

   <app-ticket></app-ticket>
        <button (click)="deleteTicket(ticket.id)">Delete</button>
        <br />
    </ng-container>
</div>


<app-add-ticket (addticket)="addTicket($event)"></app-add-ticket>